li {
	display: flex;
}
.productTitle {
	width: 300px;
	border: 1px solid black;
}
.productPrice {
	text-align: center;
	width: 70px;
	border: 1px solid black;
}
.productBrand {
	text-align: center;
	width: 100px;
	border: 1px solid black;
}
.productId {
	text-align: center;
	font-size: 10px;
	width: 100px;
	border: 1px solid black;
}
.disabledDiv{
	pointer-events: none;
  opacity: 0.4;
	user-select: none;
}
.paginationBlock{
	align-items: center;
	display: flex;
}
.paginationBlock button{
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
.paginationNumbersPages {
	margin: 10px;
	display: flex;
	gap:10px;
}
.pageNumber{
	cursor: pointer;
	border: 1px solid green;

	padding: 5px;
}
.clicked{
	background-color: #7fd699;
}
